[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
numpy = "*"
customtkinter = "*"
pillow = "*"
numba = "*"
stockfish = "*"
tensorflow-gpu = "*"
pandas = "*"
matplotlib = "*"
keras-tuner = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.19"
